<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title></title>
</head>
<body>
	<table width="100%">
	    <tr><td align="center"><img src="/Images/customerLogo.jpg" height="250" width="250"/></td></tr>
        <tr><td align="center"><img src="/Images/yourLogo.jpg" height="250" width="250"/></td></tr>
        <tr height="120"><td align="center"><font size="xx-large" color="blue">Performance Test Report</font></td></tr>
        <tr height="70"><td align="center"><font size="large" color="blue">Project Name - XYZ</font></td></tr>
        <tr height="30"><td align="center"><font size="large" color="blue">Version 1.0</font></td></tr>
        <tr height="30"><td align="center"><font size="small" color="blue"><b>Date : 10-Sep-2012</b></font></td></tr>
	</table>
    <br>
    <div>
        <p>
            <font size="large">Version History</font><br/>
            <p>
                <table width="100%" border="1">
                    <tr><td width="15%" bgcolor="#9999FF" align="center">Date</td><td width="15%" bgcolor="#9999FF" align="center">Version</td><td width="20%" bgcolor="#9999FF" align="center">Author</td><td width="50%" bgcolor="#9999FF" align="center">Change Description</td></tr>
                    <tr><td width="15%">10-Sep-2012</td><td width="15%">1.0</td><td width="20%">Amigo Loader</td><td width="50%">First Generated Report</td></tr>
                    <tr><td width="15%"></td><td width="15%"></td><td width="20%"></td><td width="50%"></td></tr>
                    <tr><td width="15%"></td><td width="15%"></td><td width="20%"></td><td width="50%"></td></tr>
                    <tr><td width="15%"></td><td width="15%"></td><td width="20%"></td><td width="50%"></td></tr>
                    <tr><td width="15%"></td><td width="15%"></td><td width="20%"></td><td width="50%"></td></tr>
                </table>
            </p>
        </p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div>
        <table width="100%">	    
            <tr height="70"><td align="center"><font size="x-large">Table of Contents</font></td></tr>        
	    </table>
        <ol>
            <li><b>1. Executive Summary.......................................................................................................................1</b></li>
            <ol>            
                <li>1.1	Purpose...........................................................................................................................1</li>
                <li>1.2	Objective.........................................................................................................................1</li>
                <li>1.3	Project Overview.............................................................................................................1</li><br>
            </ol>
            <li><b>2. Test Environment .........................................................................................................................2</b>
	            <ol>
                    <li>2.1 Target Servers.......................................................................................................................6</li>	                
	                <li>2.2 Deployment Diagram............................................................................................................7</li>
                    <li>2.3 Load Generators....................................................................................................................7</li>
                </ol>
            </li><br>
            <li><b>3. Test Results ...................................................................................................................................8</b>
            <ol>
                <li>3.1	Transaction Summary .....................................................................................................8</li>
                <li>3.2	Top 10 Transactions ........................................................................................................8</li>
                <li>3.3	Response Time vs. Time ...................................................................................................8</li>
                <li>3.4	Throughput vs. Time ........................................................................................................8</li>
                <li>3.5	Page views(Hits)/Sec vs. Time ..........................................................................................8</li>
                <li>3.6	Errors ...............................................................................................................................8</li><br>
            </ol>           
            <li><b>4. Appendix......................................................................................................................................12</b>
            <ol>
                <li>4.1 Appendix 1: ..........................................................................................................................12</li>
                <li>4.2 Appendix 2: ..........................................................................................................................13</li>
                <li>4.2 Appendix 3: ..........................................................................................................................13</li>
            </ol>
            </li>
        </ol>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <p>
        <font size="x-large">1. Executive Summary</font><br>
        <p><font size="large">1.1 Purpose</font><br>
           <p>The purpose of this document is to provide a detailed report on the performance test carried out on the XYZ Application. This document provides a summarized view for quick outlook
           and detailed results including some analysis for the developers to fix any issues. At the end of the report there are Appendices for the terminology used in this document and
           deep details from technical aspects.</p>
        </p>
        <p><font size="large">1.2 Objective</font><br>
           <p>The objectives of this test were to understand the performance and scaling properties of XYZ Application under desired load, on a certain hardware, OS and configurations.
           This performance testing provided answers to several key questions: 
           <ol>
           <li>1. Can the XYZ application sustain given concurrent user's activities at peak hours? </li>
           <li>2. What is the projected end-user response time associated with application under load? </li>
           <li>3. Any bottle neck or performance issues occurring during load test which leads to hinder full utilization of the systems' capacity? </li>
           </ol>
           </p>
        </p><br>
        <p><font size="large">1.3 Project Overview</font><br>
           <p>The applications for the project XYZ is designed for users of <strike> {CUSTOMER NAME} of {DOMAIN}</strike> for the purpose of uploading data and manage the complete automation of the business process. Key functionalities of the application that differentiate it are:
           <ol>
           <li>1. It provides a highly appealing and easy user interface for the <strike> {CUSTOMER NAME} of {DOMAIN} </strike> users.</li>
           <li>2. It has high efficiency of handling automated work flows of ZZZ operations? </li>
           <li>3. <strike>Please add a few functionality of your app.</strike> </li>
           </ol>
           </p>
        </p>
    </p>
    <br><br><br><br><br><br>
    <font size="x-large">2. Test Environment</font><br>
    <p><font size="large">2.1 Target Servers</font><br>
        <p>The target servers where the application is deployed along with databases and other servers are as below:</p>
        <ul>
            <li>a) Two App servers with 2.66 GHz 4 CPU and 16 GB RAM each</li>
            <li>b) Two Web servers with 2.66 GHz 8 CPU and 32 GB RAM each</li>
            <li>c) One LDAP servers with 2.66 GHz 8 CPU and 32 GB RAM</li>
        </ul>
    </p>
    <br>
    <p><font size="large">2.2 Deployment Diagram</font>
        <p>The target servers where the application is deployed along with databases and other servers have following deployment architecture:</p>
        <table width="100%">
            <tr>
                <td align=center><img src="/Images/2.jpg" height="280" width="500"/>
            </td>
        </tr>
        </table>
    </p>
    <p><font size="large">2.2 Load Generators</font><br>
        <p>The load generation framework consists of following servers</p>
        <ul>
        <li> a) One controller on a desktop machine having 4 GB RAM and Two CPU of 2.9 GHz</li>
        <li> b) Two load generators on a server machines having 4 GB RAM and Two CPU of 2.33 GHz</li>
        </ul>
    </p>
</body>
</html>